<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>文本框自动获取焦点</title>
	<script src="./node_modules/angular/angular.min.js"></script>
</head>
<body ng-app="app" ng-controller="MainCtrl">
	<input type="text" focus ng-model="user.name"/>
	<button ng-click="greet()">
	Click here! 
	</button>
	<h3>
		{{message}}
	</h3>
	<script>
		var app = angular.module('app',[]);
		app.controller('MainCtrl',function($scope){
			$scope.greet = function(){
			$scope.message = "Hello," + $scope.user.name;
			}
		});

		app.directive('focus',function(){
			return {
				link: function(scope, element, attrs){
					element[0].focus();
				}
			}
		})	
	</script>
</body>
</html>